<!DOCTYPE html>
<html>
<head>
    <title>Mi Aplicación FastAPI</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #007BFF;
            color: white;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Bienvenido a mi aplicación FastAPI</h1>
    </header>
    <div>
        <p>Esta es una aplicación web simple con FastAPI y Jinja2.</p>
    </div>
</body>
</html>
